<h1><%= @tadpole.name %> Tadpole</h1>
<p>Color: <%= @tadpole.color %></p>
<p>Parent: <%= link_to @tadpole.frog.name, frog_path(@tadpole.frog_id) %></p>
<p>Lives: <%= link_to @tadpole.frog.pond.name, pond_path(@tadpole.frog.pond_id) %></p>
<p><strong><%= link_to 'Evolve to frog', evolve_tadpole_path %></strong></p>
<%= link_to 'Back', tadpoles_path %> | 
<%= link_to 'Edit', edit_tadpole_path %> | 
<%= link_to 'Delete', tadpole_path, method: :delete %>